<form class="barbaric2e sheet actor npc">
  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img"/>
    <div class="header-fields">
      <h1><input type="text" name="name" value="{{actor.name}}" placeholder="NPC Name"/></h1>
    </div>
  </header>

  <div class="npc-description">
    <label>Description</label>
    <textarea name="system.description" placeholder="Short description...">{{system.description}}</textarea>
  </div>

  <section class="sheet-body">
    {{!-- Core Stats --}}
    <div class="stats-grid">
      <div class="stat-box">
        <label>Stamina</label>
        <div class="stat-value">
          <input type="number" name="system.stamina.value" value="{{system.stamina.value}}"/>
          <span>/</span>
          <input type="number" name="system.stamina.max" value="{{system.stamina.max}}"/>
        </div>
      </div>
      <div class="stat-box">
        <label>Defense</label>
        <input type="number" name="system.defense" value="{{system.defense}}"/>
      </div>
      <div class="stat-box">
        <label>Movement</label>
        <input type="text" name="system.movement" value="{{system.movement}}"/>
      </div>
      <div class="stat-box">
        <label>Armor</label>
        <input type="number" name="system.armor" value="{{system.armor}}"/>
      </div>
    </div>

    {{!-- Skills --}}
    <div class="skills-section">
      <h3>Skills</h3>
      <div class="skills-list">
        {{#each system.skills}}
        <div class="skill-row">
          <button type="button" class="roll-skill" data-skill="{{@key}}" title="Roll {{@key}}">
            <i class="fas {{lookup ../skillIcons @key}}"></i>
          </button>
          <span class="skill-name">{{capitalize @key}}</span>
          <input type="number" name="system.skills.{{@key}}" value="{{this}}"/>
        </div>
        {{/each}}
      </div>
    </div>

    {{!-- Weapons --}}
    <div class="item-section">
      <div class="section-header">
        <h3>Weapons</h3>
        <button type="button" class="item-create compact" data-type="weapon" title="Add Weapon">+</button>
      </div>
      <div class="item-list">
        {{#each weapons}}
        <div class="item-row" data-item-id="{{this.id}}">
          <img src="{{this.img}}" class="item-icon weapon-icon roll-weapon" title="Roll Attack & Damage"/>
          <span class="item-name">{{this.name}}</span>
          <span class="item-detail">{{this.system.damage}}</span>
          <span class="item-detail">{{this.system.type}}</span>
          <span class="item-detail">{{this.system.hands}}</span>
          {{#if this.system.range}}<span class="item-detail">{{this.system.range}}</span>{{/if}}
          <div class="item-controls">
            <button type="button" class="roll-attack" data-item-id="{{this.id}}" title="Roll Attack"><i class="fas fa-crosshairs"></i></button>
            <button type="button" class="roll-damage" data-item-id="{{this.id}}" title="Roll Damage"><i class="fas fa-sword"></i></button>
            <button type="button" class="item-chat" title="Send to Chat"><i class="fas fa-comment"></i></button>
            <button type="button" class="item-delete" title="Delete"><i class="fas fa-trash"></i></button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    {{!-- Armor --}}
    <div class="item-section">
      <div class="section-header">
        <h3>Armor</h3>
        <button type="button" class="item-create compact" data-type="armor" title="Add Armor">+</button>
      </div>
      <div class="item-list">
        {{#each armors}}
        <div class="item-row" data-item-id="{{this.id}}">
          <img src="{{this.img}}" class="item-icon"/>
          <span class="item-name">{{this.name}}</span>
          <span class="item-detail">Prot: {{this.system.protection}}</span>
          <div class="item-controls">
            <button type="button" class="item-chat" title="Send to Chat"><i class="fas fa-comment"></i></button>
            <button type="button" class="item-delete" title="Delete"><i class="fas fa-trash"></i></button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    {{!-- NPC Abilities --}}
    <div class="item-section">
      <div class="section-header">
        <h3>Special Abilities</h3>
        <button type="button" class="item-create compact" data-type="npcAbility" title="Add Ability">+</button>
      </div>
      <div class="item-list">
        {{#each npcAbilities}}
        <div class="item-row" data-item-id="{{this.id}}">
          <img src="{{this.img}}" class="item-icon"/>
          <span class="item-name">{{this.name}}</span>
          <div class="item-controls">
            <button type="button" class="item-chat" title="Send to Chat"><i class="fas fa-comment"></i></button>
            <button type="button" class="item-delete" title="Delete"><i class="fas fa-trash"></i></button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</form>
